  <a-sphere position="4 1 7" src="assets/planet2.jpg">
    <a-animation attribute="rotation" to="0 360 0" repeat="indefinite" easing="linear" dur="20000"></a-animation>
  </a-sphere>

  <a-sphere position="8 0 -10" src="assets/planet3.png">
    <a-animation attribute="rotation" to="0 360 0" repeat="indefinite" easing="linear" dur="20000"></a-animation>
  </a-sphere>

  <a-sphere position="-12 0 12" src="assets/planet4.png">
    <a-animation attribute="rotation" to="0 360 0" repeat="indefinite" easing="linear" dur="20000"></a-animation>
  </a-sphere>

  <a-sphere position="-10 -2 4" src="assets/planet5.png">
    <a-animation attribute="rotation" to="0 360 0" repeat="indefinite" easing="linear" dur="20000"></a-animation>
  </a-sphere>
